<div class="heading">
  <span><%= @page_properties[:header]%></span>
  <a href="<%= "/sub-categories/#{@sub_category.id}/articles/new" %>" class="button">
    <span>New Article</span>
  </a>
  <a href="<%= "/categories/#{@sub_category.category.id}/sub-categories/#{@sub_category.id}/edit" %>" class="button">
    <span>Edit Sub Category</span>
  </a>
</div>

<% @breadcrumb ={:Home => "/", :Category => "/categories", :Sub_Category => "/categories/#{@sub_category.category.id}/sub-categories", :Articles => "#"} %>
<%= render :partial => 'layouts/bread_crumb'%>

<%= render :partial => 'articles/articles_block' %>


