<div class="heading">
  <span><%= @page_properties[:header]%></span>
  <a href="<%= "/sub-categories/#{@sub_category.id}/articles/new" %>" class="button">
    <span>New Article</span>
  </a>
  <a href="<%= "/categories/#{@sub_category.category.id}/sub-categories/#{@sub_category.id}/edit" %>" class="button">
    <span>Edit Category</span>
  </a>
</div>

<% @breadcrumb ={:Home => "/", :Category => "/categories", :Sub_Category => "/categories/#{@sub_category.category.id}/sub-categories", :Articles => "#"} %>
<%= render :partial => 'layouts/bread_crumb'%>

<div class="index" align="center">
<% @articles.each do |a| %>
    <a href="#">
    <div class="article">
      <div class="head">
        <div class="title">
        <h3>
          <%#= link_to "Hloooo", :controller => "articles", :action => "edit", params["id"] => 1%>
          <%#= link_to "Hloooo", edit_article_path, params[:id] => 1 %>
          <%= a.title.upcase %>
        </h3>
          <h6 class="hr_line">By <%= "hello".upcase%> | <%= "welcom"%> Comments</h6>
        </div>

        <div class="rating" align="center">
          <%(1..(a.rating)).each do |q|%>
              <span><i class="fa fa-star"></i></span>
          <%end%>
          <%(1..(5-a.rating)).each do |q|%>
              <span><i class="fa fa-star-o"></i></span>
          <%end%>
        </div>

      </div>
      <div class="content">
        <p><%=raw a.content%></p>
      </div>
    </div>
    </a>

<% end %>
</div>
