<div class="heading">
  <span><%= @page_properties[:header]%></span>

  <%= custom_button_1("New Article", new_article_path(@sub_category.id), "right") %>
  <%= custom_button_1("Edit Sub Category", edit_sub_category_path(@sub_category.category_id, @sub_category.id), "right") %>

</div>

<% @breadcrumb ={:Home => "/", :Category => "/categories", :Sub_Category => "/categories/#{@sub_category.category.id}/sub-categories", :Articles => "#"} %>
<%= render :partial => 'layouts/bread_crumb'%>

<%= render :partial => 'articles/articles_block' %>


