<div class="my-tab col-md-12 col-sm-12 col-xs-12 favourites">
  <img src="images/loading.gif">
  <ul class="nav nav-tabs nav-justified tab-header">
    <li class="active"><a data-url="categories" data-toggle="tab">CATEGORIES</a></li>
    <li><a data-url="sub-categories" data-toggle="tab">SUB CATEGORIES</a></li>
    <li><a data-url="tags" data-toggle="tab">TAGS</a></li>
    <li><a data-url="articles" data-toggle="tab">ARTICLES</a></li>
  </ul>
  <div class="tab-content col-md-12 col-sm-12 col-xs-12 no-padding loader">
    <% ["categories", "sub-categories", "tags"].each do |div_id| %>
        <div id="<%=div_id%>" class="tab-pane fade in">
          <div class="index" align="center">
            <% TOP_DIVS.each do |a| %>
                <a href="#" id="<%=a%>">
                  <div class="article">
                    <div class="head">
                      <div class="title">
                        <h3></h3>
                        <h6></h6>
                      </div>
                      <div class="count">
                        <span></span>
                        <p>Sub Category</p>
                      </div>
                    </div>
                  </div>
                </a>
            <% end %>
          </div>
        </div>
    <% end %>

    <div id="articles" class="tab-pane fade">
      <div class="index" align="center">
        <% @articles.each do |a| %>
            <a href="/<%= a.id %>">
              <div class="article">
                <div class="head">
                  <div class="title">
                    <h3>
                      <%= a.title.upcase %>
                    </h3>
                    <h6 class="hr_line">By <%= "hello".upcase%> | <%= "welcom"%> Comments</h6>
                  </div>

                  <div class="rating" align="center">
                    <%(1..(a.rating)).each do |q|%>
                        <span><i class="fa fa-star"></i></span>
                    <%end%>
                    <%(1..(5-a.rating)).each do |q|%>
                        <span><i class="fa fa-star-o"></i></span>
                    <%end%>
                  </div>

                </div>
                <div class="content">
                  <p><%=raw a.content%></p>
                </div>
              </div>
            </a>

        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
    $('.favourites .tab-header li').on("click", function(){
        var x=$(this);
        $('.favourites .tab-header li').each(function(){
            $(this).removeClass("active");
        });
        x.addClass("active");
        var y=x.find('a').attr('data-url');
        $('.favourites .tab-content .tab-pane').each(function(){
            $(this).removeClass("active");
        });
        $('.favourites #'+y).addClass("active");
    });
    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "/get_favourites",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $.each(data, function(a,b) {
                    console.log(a);
                    $.each(this, function(k, v) {
                        fill_up_values(".favourites ", a, k, v);
                    });
                });
                $('.favourites .tab-content').removeClass('loader');
                $('.favourites img').hide();
            }
        });
    });
</script>
