<div class="heading">
  <span><%= @page_properties[:header]%></span>
  <a href="<%= "/categories/#{params[:category_id].to_s}/sub-categories/new" %>" class="button">
    <span>New Sub Category</span>
  </a>
  <a href="<%= "/categories/#{params[:category_id].to_s}/edit" %>" class="button">
    <span>Edit Category</span>
  </a>
</div>

<% @breadcrumb ={:Home => "/", :Category => "/categories", :Sub_Category => "#"}%>
<%= render :partial => 'layouts/bread_crumb'%>

<%= render :partial => 'sub_categories/sub_categories_block' %>