<div class="wrapper">
  <div class="heading">
    <span><%= @page_properties[:header] %></span>
  </div>

  <% @breadcrumb = {:Home => root_path, :Category => categories_path } %>
  <% @category.new_record? ? (@breadcrumb[:New] = "#") : (@breadcrumb[@category.name]=show_category_path(@category.id);@breadcrumb[:Edit] = "#") %>

  <%= render :partial => 'layouts/bread_crumb'%>

  <%= form_for @category, method: :post, :url => @category.new_record? ? :create_category : :update_category do |f| %>
      <div class="form_container_right settings">
        <div class="form_element">
          <%= f.label :Name %>
          <%= f.text_field :name, class: 'form_field' %>
        </div>

        <%= hidden_field_tag :id, @category.id %>

        <div class="form_element">
          <%= f.label :Description %>
          <%= f.text_field :description, class: 'form_field' %>
        </div>

        <div class="form_element check_box">
          <label>Status</label>
          <%= custom_check_box_1("category[status]", true, @category.status, "category_status") %>
        </div>

        <div class="form_element check_box">
          <label>Make Favourite</label>
          <%= custom_check_box_1("category[favourite]", true, @category.favourite, "category_favourite") %>
        </div>

        <div class="submit_div">
          <%#= f.submit :submit %>
          <%= custom_submit_1("Submit", nil, "right")%>
        </div>
      </div>
  <% end %>

  <% @mandatory_field = ['name','description'].to_json %>
  <% @attach_field = ['category_'].to_json %>

  <%= render :partial => 'layouts/jquery_validation' %>
</div>