<div class="heading">
  <span><%= @page_properties[:header]%></span>
    <a href="<%= '/categories/new' %>" class="button">
      <span>New Category</span>
    </a>
</div>

<% @breadcrumb ={:Home => "/", :Category => "#"}%>
<%= render :partial => 'layouts/bread_crumb' %>

<%if @category.present?%>
    <div class="index" align="center">
    <% @category.each do |a| %>
      <a href="<%= "/categories/#{a.id.to_s}/sub-categories" %>">
        <div class="article">
          <div class="head">
            <div class="title">
              <h3><%= a.name %></h3>
              <h6><%= a.description %></h6>
            </div>
            <div class="count">
              <span>
                <%= a.sub_categories.count%>
              </span>
              <p><%= a.sub_categories.count!=1 ? "Sub Category".pluralize : "Sub Category".singularize %></p>
            </div>
          </div>
        </div>
      </a>
    <% end %>
    </div>
<%else%>
    <div class="index" align="center">
      <h4>No Data to Display</h4>
    </div>
<%end%>
