<div class="one" align="center">
<% @category.each do |a| %>
  <a href="<%= 'sub_categories?category_id=' + a.id.to_s %>">
    <div class="article">
      <div class="head">
        <div class="title">
          <h2><%= a.name %></h2>
          <h6><%= a.description %></h6>
        </div>
        <div class="count">
          <span style="font-size: 35px">
            <%= a.sub_categories.count%>
          </span>
          <p><%= a.sub_categories.count!=1 ? "Sub Category".pluralize : "Sub Category".singularize %></p>
        </div>
      </div>
    </div>
  </a>
<% end %>
</div>

<%#= link_to("edit", :controller => 'categories', :action => 'edit', :id => a.id)%>