<!DOCTYPE html>
<html>
<head>
  <title>Document</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= render 'layouts/css' %>
</head>
<body>
<!--<div id="bgimg"></div>-->
  <div id="header">
    <%#= render 'layouts/menu' %>
      <div id="wrapper">

          <%= yield %>

       </div>
  </div>
</body>
</html>
