<!DOCTYPE html>
<html>
<head>
  <title><%= @page_properties[:page_title] %></title>

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="google-site-verification" content="Bi9RrRAR7drDCVv1gcXbP1Ge0CrSPilZfJn7lpjWg88" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />

  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>
<header>
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <a id="menu-toggle" href="#menu-toggle"><span></span><span></span><span></span></a>
    <ul class="sidebar-nav">

      <%= direct_link_menu("Home", "/", "fa-home") %>
      <%= parent_with_submenu("Categories", "fa-tags", {"New Category"=>new_category_path, "List Category"=>categories_path}) %>
      <%= parent_with_submenu("Sub Categories", "fa-tags", {"New Sub Category"=>new_sub_category_path, "List Sub Category"=>sub_categories_path}) %>
      <%= direct_link_menu("Tags", "/tags", "fa-tags") %>
      <%= direct_link_menu("Articles", "/articles", "fa-book") %>

      <!-- direct link menu -->
      <!--<li><a href="/sub-categories"><i class="fa fa-home" aria-hidden="true"></i>Sub Categories</a></li>-->

      <!-- parent with submenu -->
      <!--<li><a href="#" class="sub-menu-toggle"><i class="fa fa-home" aria-hidden="true"></i><span>Sub Categories</span></a>
        <ul class="second-level-menu">
          <li><a href="#">New Sub Category</a></li>
          <li><a href="#">List Sub Category</a></li>
        </ul>
      </li>-->

    </ul>
  </div>
  <div id="page-content-wrapper">
  <div class="container-fluid no-padding">
    <div class="top-menu">
      <ul class="no-margin">
        <% @categories.each do |cat| %>
            <li>
              <a href="<%= sub_categories_path(cat.id) %>">
                <%= cat.name %>
              </a>
            </li>
        <% end %>
      </ul>
    </div>

<script>
    $('.sub-menu-toggle').click(function(e){
        e.preventDefault();
        $('.second-level-menu').hide(500);
        $(this).next('.second-level-menu').toggle(500);
        $("#wrapper").removeClass("toggled");
        $("#menu-toggle").addClass("opened");
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle").toggleClass("opened");

    });
</script>

  <!--<div class="main-menu">

    <ul class="menu">
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
      <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i><span>Categories</span></a></li>
      <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i><span>Sub Categories</span></a></li>
      <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></a></li>
      <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i><span>Documents</span></a></li>
      <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i><span>More</span></a></li>
    </ul>
  </div>-->

  <%#= render 'layouts/menu' %>

  <%= yield %>
  </div>
  </div>
  </div>
</header>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</html>