<!DOCTYPE html>
<html>
<head>
  <title><%= @page_properties[:page_title] %></title>

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="google-site-verification" content="Bi9RrRAR7drDCVv1gcXbP1Ge0CrSPilZfJn7lpjWg88" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />

  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>
<!--<div id="bgimg"></div>-->
<div id="header">
  <%#= render 'layouts/menu' %>

  <div id="wrapper">

    <div class="top-menu">
      <ul>
        <% @categories.each do |cat| %>
            <li>
              <a href="<%= sub_categories_path(cat.id) %>">
                <%= cat.name %>
              </a>
            </li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

  </div>
</div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</html>